*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding: 2em;
    background-color: rgb(71, 71, 71);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.idPerfil{
    display: flex;
    gap: 10px;
    color: #000000;
}

.title{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px  rgba(255, 255, 255, 0.937);
}

.para{
    color: rgba(0, 0, 0, 0.788);
}

.Carros{
    display: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    
  
}

#user{
    color: rgba(255, 0, 0, 0.911);
}

#perfil{
    color:rgba(255, 255, 255, 0.781);
    margin-top: 2vh;
}


@media (width <= 900px){
    .center{
        justify-content: center;
        gap: 2vh;
    }
}
h2{
    text-shadow: 1px 1px 2px  rgba(9, 9, 9, 0.937);
    color: white;
}