/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border não alterem o tamanho total */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Estilos para o corpo da página */
body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    padding: 2em;
    background-color: #353535;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #000000; /* Cor padrão do texto */
}

/* Estilos para a barra de navegação */
.Nav {
    background-color: #ffffff;
    color: #000000; /* Cor do texto na barra de navegação */
    border: 1px solid #ffffff; /* Borda branca */
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.937);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.idPerfil {
    display: flex;
    gap: 10px;
    color: #000000; /* Cor do texto dentro da classe .idPerfil */
}

.title {
    color: #000000; /* Cor do título */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.937);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.para {
    color: rgba(0, 0, 0, 0.788);
}

.Carros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

#user {
    color: rgba(255, 0, 0, 0.911);
}

#perfil {
    color: rgba(255, 255, 255, 0.781);
    margin-top: 2vh;
}

/* Media Query para telas menores (até 900px de largura) */
@media (max-width: 900px) {
    .center {
        justify-content: center;
        gap: 2vh;
    }
}

/* Estilos para títulos <h2> */
h2 {
    text-shadow: 1px 1px 2px rgba(9, 9, 9, 0.937);
    color: #000000; /* Cor do texto dos títulos */
}
